AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=se1carrental;AccountKey=<key>;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=rental-documents
API_KEY_CURRENCY=
WSDL_URL=http://localhost:5125
